<section class=" appointment">
    <div class="appointment-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form">
                        <div class="appointment-form text-center">
                            <form>
                                <p class="appointment-title text-light">Make An Appointment</p>
                                <p class="text-light">Fill The Form To Confirm The Appointment</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Your Phone number">
                                </div>
                                <button type="submit" class="btn submit-btn">MAKE AN APPOINTMENT</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 passion">
                    <div class="text-center text-lg-right">
                        <h1 class="text-light">
                            A PASSION FOR PUTTING PATIENTS FIRST
                        </h1>
                        <br />
                        <button class="btn btn-primary">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Provided By Medicevo -->
<section class="container service">
    <div class="row">
        <div class="col-12">
            <div class="title text-center">
                <h2>Service Provided By Medicevo</h2>
                <p>Explore Medical Service By Medicevo Hospital</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 cardiology">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-6">
                        <img [defaultImage]="defaultImage" [lazyLoad]="cardiologyJpg" class="card-img polygon" alt="...">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <img src="./assets/template/cardiology-icon.png" class="service-icon" alt="Cardiology">
                            <h3 class="card-title">Cardiology</h3>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluaccusantium doloremque laud.
                            </p>
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 neurology">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-6">
                        <img src="./assets/template/neurology.jpg" class="card-img polygon" alt="...">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <img src="./assets/template/neurology-icon.png" class="service-icon" alt="Neurology">
                            <h3 class="card-title">Neurology</h3>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluaccusantium doloremque laud.
                            </p>
                            <a href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 x-ray">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-6">
                        <div class="card-body">
                            <img src="./assets/template/x-ray-icon.png" class="service-icon" alt="Neurology">
                            <h3 class="card-title">X-Ray</h3>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluaccusantium doloremque laud.
                            </p>
                            <a href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="./assets/template/discussing-x-ray.jpg" class="card-img polygon-invers" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 diagnostic">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-6">
                        <div class="card-body">
                            <img src="./assets/template/diagnostic-icon.png" class="service-icon" alt="Neurology">
                            <h3 class="card-title">Diagnostic</h3>
                            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluaccusantium doloremque laud.
                            </p>
                            <a href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <img src="./assets/template/siagnostic.jpg" class="card-img polygon-invers" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blue Section -->
<section class="other-service">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 change-direction">
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/cardio-monitoring.png" alt="cardio-monitoring" class="">
                        <h4>Cardio Monitoring</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/health-care-solution.png" alt="health-care-solution" class="">
                        <h4>Health Care Solutions</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/modern-equipment-icon.png" alt="modern-equipment" class="">
                        <h4>Modern Equipments</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/expermental-labs.png" alt="expermental-labs" class="">
                        <h4>Expermental Labs</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/clear-medical.png" alt="clear-medical" class="">
                        <h4>Clear Medical Records</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-inline-block">
                        <img src="./assets/template/best-pharmacy.png" alt="best-pharmacy" class="">
                        <h4>Best Pharmacy</h4>
                        <br> <span>Sed ut perspiciatis unde omni natus error sit volupt.</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <img src="./assets/template/doctor-standing.png" alt="" class="doctor-asking">
            </div>
        </div>
    </div>
</section>
<!-- map section -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.7281080726!2d-0.24168024584704462!3d51.528771840474214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2s!4v1607435541017!5m2!1sen!2s"
                    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
				</iframe>
            </div>
        </div>
    </div>
</section>
<!-- Before Footer Sectio -->
<section class="before-footer">
    <div class="container">
        <div class="col-12">
            <div class="text-center text-light">
                <p class="hours">Visting Hours</p>
                <p class="working-days">Mon to Sat - 9:00am to 12:00am</p>
                <p class="working-days">Sunday - 9:00am to 12:00pm</p>
                <div class="appoint">
                    <button type="button" class="btn">MAKE AN APPOINTMENT</button> OR CALL US <a href="tel:+001235698544">+00 123
						569 8544</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="">© 2020 <a href="https://digitaconnect.com/" class="copy">Digital Connect</a>.All rights reserved
                </p>
            </div>
            <div class="col-6 menu-footer">
                <p class="d-inline-block text-light">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms&Conditions</a>
                </p>
            </div>
        </div>
    </div>
</footer>