<div class="container-fluid mt-2 ">
    <div class="row justify-content-center">
        <div class="col-md-4  p-2  border border-primary rounded my-5">
            <!-- <div class="container my-2 text-center">
                <h5 class="text-warning">Value Output In Json ( for development only ! )</h5>
                {{ addDoctorForm.value | json }}
            </div> -->
            <h1 class="header text-primary d-flex justify-content-center my-2">Sign Up</h1>
            <hr>
            <form class="needs-validation" [formGroup]="signUpForm" (submit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input autocomplete="off" type="text" class="form-control  {{ name.touched ? (name.invalid ? 'is-invalid' : 'is-valid') : ''}} invalid form-control-warning" id="name" formControlName="name">
                    <div *ngIf="name.invalid && name.touched" class="text-danger ">
                        -Name Field is Required & greater than 2.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input autocomplete="off" type="email" class="form-control {{ email.touched ? (email.invalid ? 'is-invalid' : 'is-valid') : ''}}" id="email" formControlName="email" aria-describedby="emailHelp">
                    <div *ngIf="email?.errors?.required && email.touched" class="text-danger ">
                        -Email Field is required
                    </div>
                    <div *ngIf="email?.errors?.pattern && email.touched" class="text-danger ">
                        -Please Provide a Valid Email
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="name" class="form-label">Phone</label>
                    <input autocomplete="off" type="text" class="form-control  {{ phone.touched ? (phone.invalid ? 'is-invalid' : 'is-valid') : ''}} invalid form-control-warning" id="phone" formControlName="phone">
                    <div *ngIf="phone.invalid && phone.touched" class="text-danger ">
                        -Phone Field is Required & a number.
                    </div>
                </div> -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input autocomplete="off" type="text" class="form-control  {{ password.touched ? (password.invalid ? 'is-invalid' : 'is-valid') : ''}} invalid form-control-warning" id="name" formControlName="password">
                    <div *ngIf="password.invalid && password.touched" class="text-danger ">
                        -Password Field is Required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="passwordConfirmation" class="form-label">Password Confirmation</label>
                    <input autocomplete="off" type="text" class="form-control  {{ passwordConfirmation.touched ? (passwordConfirmation.invalid ? 'is-invalid' : 'is-valid') : ''}} invalid form-control-warning" id="passwordConfirmation" formControlName="passwordConfirmation">
                    <div *ngIf="passwordConfirmation.invalid && passwordConfirmation.touched" class="text-danger ">
                        -Password Confirmation Field is Required .
                    </div>
                </div>

                <button [disabled]="signUpForm.invalid" type="submit my-2" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>